.admin-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #fff8f0;
  width: auto;
}

.login-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-card h3 {
  text-align: left;
  color: #f27059;
  font-weight: 600;
  margin-bottom: 25px;
}

.login-card label {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.login-card button {
  width: 100%;
  background: #f7b267;
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.login-card button:hover {
  background: #f27059;
}
