html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff8f0;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #f27059;
  margin-bottom: 10px;
}

.container-center {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  margin-bottom: 25px;
}
